
        nav { /* Styles pour la barre de navigation */
            position: relative; /* Position par défaut */
            text-align: center;
            background-color: #333;
            padding: 1%; /* Ajoute un espacement intérieur de 10px autour du menu */
            border-radius: 5px; /* Arrondit légèrement les coins du menu */
        }
        nav ul {
            list-style: none; /* Supprime les point devant chaque éléments */
            padding: 0; /* Enlève les marges internes par défaut */
            margin: 0; /* Enlève les marges externes par défaut */
            display: flex; /* Affiche les éléments en ligne sur une seule ligne */
            justify-content: center; /* Centre les éléments horizontalement */
        }
        nav ul li {
            margin: 0 10px; /* Ajoute un espacement de 10px entre chaque élément du menu */
        }
        nav ul li a { /* Styles des liens de navigation */
            color: white; /* Définit la couleur du texte en blanc */
            text-decoration: none; /* Supprime le soulignement des liens */
            padding: 8px 12px; /* Ajoute un espace intérieur aux liens */
            display: block; /* Permet de rendre toute la zone du lien cliquable */
            background-color: #555; /* Couleur de fond gris foncé pour les liens */
            border-radius: 3px; /* Arrondit légèrement les coins des liens */
            transition: background-color 0.3s; /* Ajoute un effet de transition en 0.3s sur la couleur de fond */
        }
        nav ul li a:hover {
            background-color: #777; /* Change la couleur de fond en gris clair au survol */
        }
        header {
            text-align: center; /* Centre le titre du site */
            margin-top: 20px;  /* Ajoute un espace au-dessus du titre */
        }